
<!DOCTYPE html>
<html>
<body>

<h1>Welcome to MakersBnb</h1>

<form action="/signin" method="GET">
    <input type="submit" value="Sign In">
</form>

<form action="/signup" method="GET">
    <input type="submit" value="Sign Up">
</html>
</body>
