<!DOCTYPE html>
<html>
<body>

<form action='/listspace' method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea type="text" name="description"></textarea>
    </div>
    <div>
        <label for="price">Price per night</label>
        <input type="number" name="price">
    </div>
    <input type="submit" value="add">
</form>


</html>
</body>